{{!-- Scraping Splash Page --}}
<div class="container-fluid article-container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>
                <p>Scraping Complete!</p>
                <a class="btn btn-danger see-articles" href="/">See Articles!</a>
            </h3>
        </div>
        <div class="panel-body">
        </div>
        <div class="panel-footer">
        </div>
    </div>
</div>